.row
	#flash-message.alert.success.alert-success(style="display: none; margin-top: 20px;")
.row
	#user_form

script(src="/javascript/users/views/UserForm.js")
script(src="/javascript/users/models/UserModel.js")
script(src="/javascript/form.js")