extends ../layout
block content
	.container
		.row
		.hero-unit
			h1 Users
			.usersView(style="margin-top: 20px")

	script(src="/javascript/users/models/UserModel.js")
	script(src="/javascript/users/collections/UserCollection.js")
	script(src="/javascript/users/views/UsersView.js")
	script(src="/javascript/users/views/UserView.js")
	script(src="/javascript/app.js")
