extends ../layout
block content
	.container(style="margin-top:100px")
		h1 Users
		.usersView

	script(src="/javascript/users/models/UserModel.js")
	script(src="/javascript/users/collections/UserCollection.js")
	script(src="/javascript/users/views/UsersView.js")
	script(src="/javascript/users/views/UserView.js")
	script(src="/javascript/app.js")
